// Place all the styles related to the Plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.play {
  height: 350px;
  width: 250px;
}

.play-show {
  width: 325px;
  height: 475px;
}