<div class="row">
  <div class="card">
    <div class="card-body">
    Rating: <%= review.rating %>
    <%= review.comment %>
    </div>
    <% if user_signed_in? %>
      <% if review.user_id == current_user.id %>
          <div class="card-footer">
              <div classs="btn btn-group">
                <%= link_to 'Edit Review', edit_play_review_path(review.play, review), class: "btn-outline-warning" %>
                <%= link_to 'Delete', play_review_path(review.play, review), 
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "btn-outline-danger" %>
              </div>
          </div>
     <% end %>
    <% end %>
  </div>
</div>